body {
  font-family: 'Segoe UI', sans-serif;
}

.bg-purple {
  background-color: #6a1b9a;
}

.text-purple {
  color: #6a1b9a;
}

.hero-section {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.purple-box{
  background-color: #6a1b9a;
  border-radius: 12px;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.photographer-img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}
